@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Share+Tech+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

:root {
    --font-body: 'Plus Jakarta Sans', sans-serif;
    --font-head: "Audiowide", cursive;

    --bg: 240, 95%, 9%;
    --fg: 184, 96%, 46%;
    --light: 190, 100%, 91%;
    --dec: 341, 100%, 58%;
}


html {
    scroll-behavior: smooth;
}

body {
    background-color: hsl(var(--bg));
}

main {
    margin-top: 1vmin;
}

h1 {
    font-family: var(--font-head);
    background-color: hsl(var(--bg));
    color: hsl(var(--dec));
    text-align: center;
    opacity: 0.01;
    -webkit-animation: fadeIn 450ms ease-in 300ms forwards;
    animation: fadeIn 450ms ease-in 300ms forwards;
}

.h_1 {
    font-family: var(--font-head);
    background-color: hsl(var(--bg));
    color: hsl(var(--fg));
    opacity: 0.01;
    -webkit-animation: fadeIn 450ms ease-in 300ms forwards;
    animation: fadeIn 450ms ease-in 300ms forwards;
}



@-webkit-keyframes fadeIn {
    0% {
        opacity: 0.01;
        -webkit-transform: translateY(25%);
        transform: translateY(25%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0.01;
        -webkit-transform: translateY(25%);
        transform: translateY(25%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}