{% extends 'base.html' %}

{% block content %}
    {% block title %} FLASK_TODO {% endblock %}
    <h1>Welcome to FLASK_TODO!</h1>
    {% for post in posts %}
        <a href="{{ url_for('post', post_id=post['id']) }}">
            <h2 class="h_1">{{ post['title'] }}</h2>
        </a>

        <span class="badge badge-primary">{{ post['created'] }}</span>

        <a href="{{ url_for('edit', id=post['id']) }}">
            <span class="badge badge-warning">Edit</span>
        </a>
        <hr />
    {% endfor %}
{% endblock %}